{% extends "base.html" %} {% block content %}

<div class="flex flex-col w-full border-opacity-50">
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">Pick the best fantasy franchise</span>
      <span class="label-text-alt">Alt label</span>
    </div>
    <select class="select select-bordered">
      <option disabled selected>Pick one</option>
      <option>Star Wars</option>
      <option>Harry Potter</option>
      <option>Lord of the Rings</option>
      <option>Planet of the Apes</option>
      <option>Star Trek</option>
    </select>
    <div class="label">
      <span class="label-text-alt">Alt label</span>
      <span class="label-text-alt">Alt label</span>
    </div>
  </label>
  <select class="select select-bordered w-full max-w-xs">
    <option disabled selected>Number of pressure cuts?</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
  <select class="select select-bordered w-full max-w-xs">
    <option disabled selected>What kind of over protection</option>
    <option>Worker/Monitor</option>
    <option>Working Monitor</option>
    <option>Relief Valve</option>
  </select>
  <button
    class="btn btn-active btn-primary"
    hx-post="api/end-point"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-swap="none"
  >
    {% csrf_token %} Calculate
  </button>
</div>
{% endblock content %}
